.post-text {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.style-cont {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 400px;
  margin: auto;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}
